.about-header {
    margin-top: 21px;
    background-image: url("../../images/aboutBG.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 60px 90px 90px 60px;
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__left {
        margin-right: 54px;
    }
    &__title {
        font-family: "Manrope", sans-serif;
        font-size: 72px;
        font-weight: 400;
        margin-bottom: 35px;
        position: relative;
        &::before {
            content:"";
            position: absolute;
            bottom: -25px;
            left: 0;
            width: 320px;
            height: 2px;
            background-color: #000;
        }
    }
    &__subtitle {
        font-family: "Nunito", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 135%;
        margin-bottom: 25px;
    }
    &__text {
        font-family: "Manrope", sans-serif;
        font-weight: 600;
        font-size: 18px;
        line-height: 20px;
        width: 620px;
        margin-bottom: 40px;
    }
    &__button {
        font-family: "Manrope", sans-serif;
        font-weight: 700;
        color: #fff;
        font-size: 20px;
        background-color: #000;
        border: 1px solid #000;
        border-radius: 30px;
        padding: 6px 24px;
        transition: all 0.3s ease-in;
        &:hover {
            background-color: #fff;
            color: #000;
        }
    }
    &__img {
        width: 475px;
    }
}