.menu {
    width: 100%;
    &__container {
        margin: 0 24px;
        padding-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__search {
        display: flex;
        align-items: center;
        justify-content: start;
        &-input {
            width: 419px;
            margin-right: 19px;
            height: 44px;
            border-radius: 30px;
            border: none;
            padding-left: 10px;
            &::placeholder {
                font-family: 'Inter', sans-serif;
                font-weight: 500;
                font-size: 12px;
                line-height: 24px;
                color: #797777;
                padding: 15px 0 15px 5px;
            }
        }
        &-img {
            cursor: pointer;
            transition: all 0.1s ease;
            &:hover {
                filter: invert(97%) sepia(34%) saturate(1386%) hue-rotate(328deg) brightness(104%) contrast(94%);
            }
        }
    }
    &__filters {
        &-list {
            display: flex;
            align-items: center;
            justify-content: end;
        }
        &-item {
            margin-left: 19px;
            &-container {
                display: flex;
                align-items: center;
            }
            &-sign {
                font-size: 20px;
                line-height: 30px;
                color: #fff;
            }
        }
        &-input {
            width: 140px;
            margin-right: 2px;
            height: 44px;
            border-radius: 30px;
            border: none;
            padding-right: 20px;
            text-align: right;
            &::placeholder {
                font-family: 'Inter', sans-serif;
                font-weight: 500;
                font-size: 12px;
                line-height: 24px;
                color: #797777;
                padding: 15px 0 15px 5px;
            }
        }
        &-emoji {
            font-size: 40px;
            line-height: 50px;
            border: 1px #fff solid;
            border-radius: 50px;
            background-color: #fff;
            padding: 2px 7px;
            cursor: pointer;
        }
        &-x {
            width: 48px;
            height: 47px;
            border-radius: 50%;
            filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(321deg) brightness(101%) contrast(103%);
            cursor: pointer;
        }
        &-start {
            height: 40px;
            width: 40px;
            border-radius: 40%;
            filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(321deg) brightness(101%) contrast(103%);
            cursor: pointer;
            transition: all 0.1s ease;
            &:hover {
                filter: invert(97%) sepia(34%) saturate(1386%) hue-rotate(328deg) brightness(104%) contrast(94%);
                transform: scale(1.1);
            }
        }
    }
    &__emojibar {
        position: absolute;
        right: 0;
        background-color: #91C8E4;
        border-radius: 14px;
        width: 15%;
        &-list {
            display: grid;
            grid-template-columns: repeat(3, 25%);
            column-gap: 10px;
            row-gap: 5px;
            margin: 10px 0 20px 27px;
        }
        &-item {
            font-size: 30px;
            line-height: 40px;
            border: 1px #fff solid;
            border-radius: 50px;
            background-color: #fff;
            padding: 2px 7px;
            cursor: pointer;
            transition: all 0.1s ease;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
}