:root {
    --background-image: url('../../images/fondo.png');
  }

.login1 {
    background-color: #91C8E4;
    background-image: var(--background-image);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
  }  